*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
.page{
    display: flex;
    flex-direction: column;
    background-image: url("../images/map.jpg");
    background-size: cover;
}
.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    color: white;
    margin: 20px 20px;
    padding: 50px 10px;
    background: rgba(240, 240, 240, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  
}
.title{
    font-size: 40px;
    font-family: "Home Video";
}
.searchinput,.submit{
    font-size: 30px;
    font-family: "Home Video";
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
}
.submit:hover{
    background: rgba(255, 230, 230, 0.543);
    backdrop-filter: blur(10px);
    color: white;
}
.innertext{
    font-family: "Home Video";
}
img{

    border-radius: 16px;
    width: 300px;
    height: 200px;
}
.cards{
    display: flex;
    gap: 20px;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0px 20px;
    background: rgba(240, 240, 240, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  padding: 20px 20px;
    
}
h1{
    margin: 0px;
}

